<div class="jumbotron" align="center">
  <h1 class="display-4">PrBL Tool</h1>
  <p class="lead">Created by IFPB Research Group: "Software Engineering and Social Network Analysis" from Campus João Pessoa </p>
  <p class="lead">Thematical Area: Pedagogical and methodological educational processes</p>
  <hr class="my-4">

  <div class="">
    <p>Project Leader: Prof. Dr. Francisco Petrônio Alencar de Medeiros </p>
  <%= link_to image_tag("https://lh3.googleusercontent.com/-GBWe2fWMlSw/AAAAAAAAAAI/AAAAAAAAdwg/tBUh--tY1rU/s70-p-k-rw-no/photo.jpg", :class => 'rounded-circle', width: 150, height: 150) %>
  </div>

<br><br>

  <div class="">
    <p>Students envolved: Gilberto Firmino de Souza Neto</p>
      <%= link_to image_tag("https://avatars0.githubusercontent.com/u/21959042?s=460&v=4", :class => 'rounded-circle', width: 150, height: 150) %>

  </div>

<h3 class="display-4"><%= l Date.today %></h1>

</div>
